/*******************************************/
/************** HOMEPAGE *******************/
/*******************************************/
nav{
  border-style: solid;
  border-left: 1px solid #ff0000;
  box-shadow: 0px 2px 0px #d3d3d3;
  background: #fff;
}

.navbar-right{
  font-size: 0.9em;
  background: #fff;
}
.navbar-nav li a{
  color: #000 !important;
  /*font-size: 12px;*/
}
.navbar-nav li{
  background : #fff;
}
.bodyWdth{
  max-width: 1440px;
  margin: auto;
  font-family: 'AMedium', serif;  /*default*/
  padding: 0px;
}
.navbar-default.navbg{
  background-color: #FFF !important;
  border-color: transparent;
    margin-bottom: 0px;
    margin-left: 0px;
}
.Bitmap.brandmg{
  margin-left: 135px;
}

.Bitmap {
  width: 102px;
  height: 102px;
  border: solid 3px #008232;
}
.logoAlign{
  margin-left: 40px;
}
.searchBox{
  position: relative; 
  margin-left: 50px;
  width: 292px;
}

.locInput {
  width: 292px!important;
  height: 40px;
  background-color: #ffffff;
  box-shadow: inset 0 0 2px 0 rgba(0, 0, 0, 0.1);
}

.locMarker{
  display: inline-block;
  position: absolute; 
  left: 10px; top: 12px; 
  color: #008232;
}
.locInput{
  border-radius: 0px; width: 200px; padding-left: 25px; font-size: 14px;
}



/* 

.bgHeaderImg{
  background-image: url("../images/homePageHeader.png");
  background-color: #cccccc;
} */

.containerMaxWidth{
  max-width: 1000px;
}
.fCtgriesImg{
  background-color: #cccccc;
  max-height: 276px;
  overflow: hidden;
  /*width: 370.7px;*/
}
.imgCat{
  width: 100%;
  position: relative;
  margin-bottom: 5px;
}
.mrgTpImgCat{
  margin-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  /*width: 370.7px;
  height: 276px;*/
  opacity: 0.3;
  mix-blend-mode: multiply;
  /*background-color: #000000;*/
}
.bstSeller{
  left: 0; position:absolute; 
  text-align:center; 
  top: 50%; 
  width: 100%; 
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-align: center;
  color: #ffffff;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.rowWhyFab{
  padding: 30px 0px;
}
.Best-Quality-is-our {
  font-family: 'ABook', serif;
  /*font-family: Avenir-Book;*/
  /*font-size: 32px;*/
  font-size: 22px;
  text-align: left;
  color: #000000;
  margin-top: 35px;
}
.nameItem{
  margin-bottom: 0px;
}
.calFT{
  font-size: 10px;
  font-weight: 900;
  text-align: left;
  color: #000000;
}
.slider-horizontal{
   width: 97%!important; 
}

.slider-handle {
    background-color: #337ab7;
    background-image: -webkit-linear-gradient(top,#149bdf 0,#0480be 100%);
    background-image: -o-linear-gradient(top,#149bdf 0,#0480be 100%);
    background-image: linear-gradient(to bottom,#008232 0,#008232 100%)!important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf',endColorstr='#ff0480be',GradientType=0);
    filter: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    border: 0 solid transparent;
}
.rangeTo{
  font-size: 13px;
  font-weight: 500;
  color: #bfbfbf;
}
.slider-selection {
    background-image: -webkit-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);
    background-image: -o-linear-gradient(top,#f9f9f9 0,#f5f5f5 100%);
    background-image: linear-gradient(to bottom,#008232 0,#008232 100%)!important;
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}
.btnAdd{
  /*font-family: 'ABook', serif;*/
  font-size: 12px;
  border-radius: 0px; 
  background-color: #008232; 
  border: 1px solid #008232; 
  color: #FFF;
}
.menuItem{
  padding: 10px;
}
.itemPrice{
  margin-top: 5px; margin-bottom: 0px;
}
.slick-prev:before, .slick-next:before {
  color: #bebebe;
}

.carouselItem{
  width: 100%;
  height: auto;
  margin: 10px;
}
/*.carouselItemProd{
 padding: 10px;
  width: 370px;
 
}*/
.carouselItemCheckout{
  height: 100%;
}
.carouselItem img{
  width: 100%
}

.carouselItem .itemName{
  margin-top: 5px; 
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  color: #000000;
}

.padContQlty{
  padding: 50px 0px ;
}
.contQlty{
  background-color: #f9f9f9;
  margin-top: 30px;

}
.mrgYes, .mrgNo{
  margin-top: 30px;
}
.imgPros{
  max-width: 70px; margin: auto; 
}

.Featured-Products {
  margin-top: 30px;
  font-family: 'AMedium', serif;
  /*font-family: Avenir;*/
  font-size: 1.4em;
  font-weight: 500;
  text-align: center;
  color: #000000;

  font-size: 32px;
  font-weight: 500;
}

.Rectangle-4 {
  /*width: 655px;*/
  height: 241px;
  background-color: #008232;
}
.Healthy-Tasty-Fabb {
  font-family: 'ABook', serif;;
  font-size: 36px;
  font-weight: 900;
  text-align: left;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.Curabitur-lobortis-i {
  font-family: 'ABook', serif;;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: #ffffff;
  /* padding-top: 40px; */
  padding-bottom: 5px;
}
.name{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  color: #008232;
}
.desc{
  font-family: 'ABook', serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  color: #000000;

}

.layer {
  width: 46.3px;
  height: 41.8px;
  transform: rotate(-180deg);
  background-color: #008232;
  text-align: center;
}
.Our-numbers-speaks-f {
  font-family: 'ABook', serif;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-align: center;
  color: #000000;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 24px;
  margin-bottom: 32px;
} 
.layer2{

  font-family: 'ABook', serif;
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 3.3px;
  text-align: center;
  color: #008232;
  margin-bottom: 0px;
}

.bczVLoveCre {
  margin: 0px;
  padding: 0px;
}
.bczVLoveCre img{
  width: 100%;
  height: auto;
  padding : 15px 0px;
}
.HERES-A-HANDFUL-OF {

  font-family: ProximaNova;
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: #bfbfbf;
}
.Rectangle-7 {
  height: 187px;
  background-color: #f9f9f9;
}

.line-center{
  margin:0;
  padding:0 10px;
  background:#fff;
  display:inline-block;
}

.line-center-grey{
  margin:0;padding:0 10px;
  background: #f9f9f9;
  display:inline-block;
}
.holder-line-center{

  text-align:center;
  position:relative;
  z-index:2;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1.3px;
  text-align: center;
  color: #000000;

}
.holder-line-center:after{
  content:"";
  position:absolute;
  top:50%;
  left:0;
  right:0;
  border-top: solid 1px #d4d4d4;
  z-index:-1;
}

.holder-line-center-media{

  text-align:center;
  position:relative;
  z-index:2;
  height: 18px;
  /*font-family: ProximaNova;*/
  font-size: 16px;
  line-height: 1.13;
  text-align: center;
  color: #bfbfbf;

}
.holder-line-center-media:after{
  content:"";
  position:absolute;
  top:50%;
  left:0;
  right:0;
  border-top: solid 1px #d4d4d4;
  z-index:-1;
}

.conCat{
  margin-top: 20px;
}

.Why-Fabbox {
  font-family: 'AMedium', serif;
  font-size: 36px;
  font-weight: 900;
  text-align: left;
  color: #000000;
  padding-top: 24px;
}

.Let-us-help-you-with {
  font-family: 'ABook', serif;
  font-size: 18px;
  font-weight: 300;
  text-align: left;
  color: #000000;
  padding-bottom: 12px;
}
.HhhlthyTsty{
  padding: 30px 0px 30px 0px;
}
        .bgGreen{
          background-color: #008232;
        }
        
        .video{
          width: 100%; min-height: 341px;
        }
        .txCntr{
          text-align: center;
        }
        .user{
          /*max-width:70px;*/
          width: 104px;
  height: 104px;
        }
        .bgMedia{
          background-color: #f9f9f9; height: 200px
        }

        /*+++++++++++++++ blog Quote ++++++++++++*/
        blockquote{
          border-left:none
        }

        .quote-badge{
          background-color: rgba(0, 0, 0, 0.2);   
        }


        /* .quotation-mark{

          margin-top: -10px;
          font-weight: bold;
          font-size:100px;
          color:#008232;
          text-align: center;
          position: absolute;
          margin-left: 45%;
          margin-bottom: 50px;
          font-family: "Times New Roman", Georgia, Serif;

        } */
        .peopleThink{
          margin-top: 50px;
          font-size: 24px;
  font-weight: 900;
  letter-spacing: 1.5px;
  text-align: center;
  color: #000000;
  margin-bottom: 56px;
        }
        .socialIcon{
          color: #bebebe;
        }
        .socialIcon:hover{
          color:  #008232;
          cursor: hand;
        }
        .cp{
          font-family: 'ARoman', serif;
          font-size: 14px;
          line-height: 1.83;
          text-align: center;
          color: #babbbe;
        }



        /*++++++++++++ font ++++++++++++++*/
        @font-face {
          font-family: AMedium;
          src: url("../fonts/AvenirLTStd-Medium.otf") format("opentype");
        }

        @font-face {
          font-family: ARoman;
          src: url("../fonts/AvenirLTStd-Roman.otf") format("opentype");
        }

        @font-face {
          font-family: ABook;
          src: url("../fonts/AvenirLTStd-Book.otf") format("opentype");
        }

        .Healthy-can-be-Yummy{
         font-family: 'AMedium', serif;
         font-size: 2em;
       }



        /*@font-face {
            font-family: GraublauWeb;
            font-weight: bold;
            src: url("path/GraublauWebBold.otf") format("opentype");
          }*/


/*******************************************/
/********** PRODUCT DETAIL ****************/
/*******************************************/          

.itemSingleTab{
  padding: 10px 10px 10px 0px;
  font-size: 15px;
  font-family: 'ABook', serif;
}

.descItem{
  font-family: 'ABook', serif;
  font-size: 16px;
  text-align: justify;
  color: #000000;
  margin-bottom: 20px;

}
.contSimPro{
  background-color: #f9f9f9; padding: 25px;
}
.Similar-Products {
  width: 182px;
  height: 33px;
  font-family: 'ABook', serif;
   font-size: 24px;
  font-weight: 900;
  text-align: left;
  color: #000000;
  margin-top: 15px;
}

.shareProd{
  margin-top: 5px;
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  color: #000000;
}
.prodHolder{
  padding: 0px;
}
.prodDetail{
  font-size: 1.7em; margin-top: 10px;
}
.weightUnit{
  font-size: 0.6em
}
.inStock{
  font-size: 0.4em; color: #008232; float: right; margin-top: 6px;
}
.starrInline{
  display: inline;
}
.itemCount{
  font-size: 0.6em; color: #bebebe
}
.btnCart{
  float: right; margin-top: -5px; border-radius: 0px; background-color: #008232; border: 1px solid #008232; color: #FFF;
}
.pplRv{
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}
.rvrName{
font-family: 'ABook', serif;
margin-bottom: 0px;
font-size: 18px;
  letter-spacing: 0.6px;
  text-align: left;
  color: #000000;
}, 
.rvrDesc{
font-family: 'ABook', serif;
font-size: 14px;
  text-align: justify;
  color: #000000;
}
.imgUser{
  width: 80px; height: 80px; float: right;
}
.imgItemCarousel{
  width:100%;
}

/*+++++++++++++++ checkout ++++++++++++++++*/
.yout-cart{
  font-size: 32px;
  font-weight: 900;
  text-align: left;
  color: #000000;
}
.imgWdth{
  width: 100%;
  height: auto;
}
.paddZero{
  padding-left: 0px;
}
.price{
  font-size: 0.8em; color: #bebebe
}
.amt{
  padding-top: 5  px;
  font-size: 18px;
  text-align: left;
  color: #000000;
}

.addBtn{
  float: right;
}
.closeIcon{
  float: right;
  color: #bfbfbf;
}
.smrHolder{
  background-color: #f9f9f9;
  padding: 15px 10px;
  font-family: 'ABook'
}
.capSumry{
  padding-top:10px;
}
.capSumry, .payAmt{
 font-family: 'ARoman' ;
 font-size: 1.2em;
 font-weight: bold;
}
.payAmt span{
  color: #008232
}
.chrgLabl{
  margin-bottom: 10px;
}
.chrgLabl span{
  float: right
}
.inpCoupon{
  border-radius: 0px; font-size: 0.8em
}
.btnApply{
  background-color: #008232; border: solid 0.5px #008232; border-radius: 0px; color: #FFF; cursor: pointer;
}
.cpnHolder{
  margin-bottom: 15px; 
}
.btnPayment{
  background-color: #008232; border-radius: 0px;  border: 1px solid #008232; color: #FFF
}

.choices {
  margin-top: 30px;
  font-family: 'AMedium', serif;
  /*font-family: Avenir;*/
  font-size: 1.2em;
  font-weight: 500;
  /*text-align: center;*/
  color: #000000;
}
.rowItem{
  margin-bottom: 10px;
}
.addBtn i{
  color: #008232;
}

.Premium-Cranberries {
  /*font-family: Avenir;*/
  font-size: 16px;
  font-weight: 900;
  text-align: left;
  color: #000000;
}
.D-250-Copy {
  /*font-family: Avenir;*/
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: #bfbfbf;
}

 /*++++++++++++ buying module ++++++++++*/

 .filterSec{
  /* box-shadow: 0 0 4px 0 rgba(121, 121, 121, 0.32); */
 }
 .catAll{
  text-align: left; color: #a3a3a3;
  font-family: 'AMedium', serif;
  font-size: 11px;
  font-weight: 900;
  text-align: left;
  color: #a3a3a3;
  text-transform: uppercase;
  padding: 10px 0px;
  margin: 0px;
 }
 .bestSeller{
  color: #008232;
  font-size: 15px;
  padding: 5px 0px;
 }
 .ulFilter{
  list-style-type: none; padding-left: 0px;
 }
 .ulFilter li{
  margin-bottom: 5px;
 }

 .Bstprod{
  font-family: 'AMedium', serif;
  font-size: 27px;
 }

 .countItem{
  font-family: 'ABook';
  font-size: 12px;
 }
.rattingLoad{
  margin-bottom: 5px;
}
.contItemNum{
  font-size: 0.6em; color: #bebebe
}
.sortBy{
  float: right;
  padding: 5x 0px;
}
.sortBy a{
  color: #2c2c2c;
}
.sortBy a .caret{
  color: #bfbfbf;
}
.sortBy .dropdown-menu{
  padding: 10px;
}



/*+++++++++++++++ footer ++++++++++++++++*/
.fCntFld{
  padding-top: 40px;
}
.ftText{
  color: #bebebe; 
  margin-bottom: 5px;
  font-family: 'ABook', serif;
  font-size: 13px;
  line-height: 2;
  text-align: left;
  /*color: #041314;*/
}
.cntDetail{
  font-family: 'ABook', serif;
  color: #bebebe;
}
.cntDetail a, .cntDetail a:hover {
  text-decoration: none;
  font-family: 'ABook', serif;
  color: #bebebe;
}
.inptSbsc{
  border-radius: 0px; font-size: 0.8em
}
.btnScb{
  background-color: #008232; border: solid 0.5px #008232; border-radius: 0px; color: #FFF; cursor: pointer;
}
.flwUs{
  margin-top: 5px;
}
.hrFtr{
  margin-bottom: 5px;
}

/*+++++++++++++++ checkbox +++++++++++++++*/
.checkbox label:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid #a9a9a9;
    border-radius: .25em;
    width: 1.3em;
    height: 1.3em;
    float: left;
    margin-right: .5em;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

.checkbox label input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

.checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

.checkbox label input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}
.labelfilter{
    width: 100%;
    padding-left: 0px!important;
}
.cr{
    float: right !important;

}
.labelfilter .glyphicon-ok{
  color: #008232;
}
.Rectangle-62 {
  width: 17.2px;
  height: 1.3px;
  transform: rotate(-45deg);
  border-radius: 100px;
  background-color: #bfbfbf;
  border: solid 1px #bfbfbf;
}


/*** ***/

.inline-divider{
  height: 1px;
  color: #e5e4e4;
}

/* FilterSection Start  */
.filterSec .list-group-item{
  padding: 5px 0px;
  border: none;
}
.filterSec a.list-group-item:hover{
  color: #008232;
  background-color: #fff;
}

.mb-filter{
  position: fixed;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  display: block !important;
  z-index: 9999;
  background: #fff;
  padding:15px;
}
.mb-filter .mb-filter-option{
  display: block !important;
}
/* Filter Section End  */

/* Page Header  */
.logo {
    width: 122px;
    height: 122px;
    position: absolute;
    z-index: 999;
}

.navMargin{
  padding-top: 50px;
}

.nav-icon{
  display: none;
}

.search-menu-1{
  display: block;
    max-width: 300px;
    float: left;
    margin-left: 122px;
    padding: 10px 0px 0px 0px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.toggled .search-menu-1{
     max-width: 200px; 
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.search-menu{
  display: none;
}

.logo img {
  width: 100%;
  height: 100%;
}
.content-header{
  border-bottom: solid thin #eee;
}
.content-header h1 {
    margin: 0;
    font-size: 24px;
}
.product-count {
    font-size: 15px;
    display: inline-block;
    padding: 5px 0px;
    font-weight: 300;
}
.navbar .nav>li>a>.label, .nav-icon.cart-toggle>.label {
  position: absolute;
  top: 4px;
  right: 4px;
  text-align: center;
  font-size: 9px;
  padding: 2px 3px;
  line-height: .9;
}
/* Page Header Ends  */

/* Product List  */
.menuItem a:hover, .menuItem a{
  text-decoration: none;
  color:#333
}
.product-title {
  font-family: 'AMedium', serif;
  font-size: 32px;
  font-size: 1.7em;
  font-weight: 900;
  text-align: left;
  color: #000000;
}
/* Product List End  */

/* Reveiw  */
.rvrTitle {
  padding-top: 20px;
}
.write-review{
  display: none;
}
.write-review.collapsed{
  display: block;
}
/* Reveiw End  */

/* Tabs panel */
.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
  background:#f5f3f0;
  margin: 10px 0px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #008232;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #008232;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0;
  color: #333333;
  background-color:#f5f3f0;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Footer Code  */
.panel-body{
  padding: 0px 15px;
}
.panel-title{
  font-size: 15px;
}
.social-icon-list{
  padding-top: 15px;
  padding-bottom: 15px;
}

.nopadding {
  padding:0px !important;
}
.noleftpadding{
  padding-left: 0px !important;
}

.nomargin{
  margin: 0px !important;   
}

.padding-10{
  padding: 10px;
}

.margin-10{
  margin: 10px;
}

.img-responsive{
  width: 100%;
  height: auto;
}

.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}

.font-size-11{
  font-size: 11px;
}

.navbar-toggle{
  min-height: 40px;
}

.primary-color, .primary-color:hover{
  color: #008232;
}
.primary-bg-color, .primary-bg-color:hover{
  color:#fff;
  background-color: #008232;
}
.primary-bg-blue, .primary-bg-blue:hover{
  color:#fff;
  background-color: #00a1ff;
}


.primary-bg-white{
  background-color: #fff;
}

.breadcrumb{
  text-align: center;
  background: none;
}
.breadcrumb a, .breadcrumb a:hover {
  color: #9b9b9b;
  text-decoration: none;
}
.breadcrumb .active a{
	font-weight: 900;
}

.home-yes-no {
    text-align: center;
    margin: 20px 0;
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
}
.home-yes-no strong {
  font-size: 104px;
  color: #231f20;
  line-height: 1.3em;
}
.home-yes-no p {
  display: inline-block;
  margin: 0;
  color: #008141;
  text-align: left;
  font-size: 18px;
  line-height: 20px;
  font-weight: 600;
}
video {
  width: 100%;
  max-height: 100%;
  display: block; 
}
.healthy-block{
  padding: 15px 15px 15px 30px;
}

.slider{
  /* width: 100%;
  min-height: 200px; */
}

.slider img{
  width: 100%;
  min-height: 250px;
  height: auto;
}

.slider .slide-content{
  position: absolute;
  padding: 80px 50px;
  z-index: 10;
  top: 0;
  left: 0;
}

.slider-title {
  font-family: 'AMedium', serif;
  font-size: 44px !important;
  font-weight: 900;
  text-align: left;
  color: #ffffff;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
}

.slider-desc {
  font-family: 'AMedium', serif;
  text-align: left;
  color: #ffffff;
  font-size: 22px!important;
}

.slider-desc .text-style-1 {
  font-family: ABook, serif;
  font-weight: 500;
  letter-spacing: 1px;
}

.slider-desc .text-style-2 {
  font-family: ABook, serif;
  font-size: 0.95em;
  color: #008232;
  font-weight: bold;
}

.round-btn{
  border-radius: 50%;
  border: #ddd thin solid;
  width: 29px;
  height: 29px;
  background: #fff;
  padding: 0px;
  margin-right: 0px !important;
  border-top-right-radius: 50% !important;
  border-bottom-right-radius: 50%!important;
  border-top-left-radius: 50%!important;
  border-bottom-left-radius: 50%!important;
}

.c-input[disabled]{
  background-color: #fff;
  border: none;
  box-shadow: none;
  text-align: center;
  margin: 0px;
  height: 29px;
}

.item-counter{
  margin:0px;
}
.thumbnail{
  padding:0px;
  border: none;
}

.search-toggle{
  display: none;
}

/*** ***/
@media(min-width: 768px) {

  .v-line{
    position: absolute;
    top: 20%;
    left:0px;
    width: 1px;
    height: 60%;
    background-color: #008232;
  }

  .left-border-a {
	  border-left: 1px solid red;
  }

}

@media (max-width: 1000px){
  .search-menu-1{
    display: none;
  }
  .search-toggle{
    display: block;
  }
  .search-menu{
     display: block; 
     padding-top: 40px; 
     margin-left: 150px;
  }
}
@media (max-width: 767px){
  .logo{
    width: 90px;
    height: 90px;
    margin-left: 25%;
  }

  .logo img {
    margin-left: 0px;
  }
  .nav-toggle-menu{
    float: left;
    margin-left: 15px;
    margin-right: 10px;
  }

  .search-toggle{
    display: none;
  }
  ul.nav.navbar-nav {
      padding-top: 25px;
  }
  
  .search-menu{
    display: block;
    padding-top: 40px;
    margin: 0px;
  }
  .nav-icon, .nav-icon:hover{
      position: relative;
      display: block;
      color: #000 !important;
      line-height: 20px;    
      margin: 10px 5px;
      width: 40px;
      text-decoration: none;
  }
  .home-yes-no strong {
    float: left;
    display: inline-block;
    font-size: 52px;
    line-height: 80px;
    text-align: center;
    width: 50%;
  }
  .home-yes-no p {
    display: inline-block;
    font-size: 14px;
  }
  .home-yes-no .row > div:not(:first-child) {
    margin-top: 15px;
  }

  .slider .slide-content{
    padding: 50px 50px;
  }

  .slider-title {
    font-size: 36px !important;
  }

  .slider-desc {
    font-size: 18px!important;
  }

  .slider-desc .text-style-2 {
    font-size: 0.75em;
  }

  .quotation-mark{
    display: none;
  }
  .btnAdd{
    font-size: 11px;
    padding: 5px; 
  }
  .round-btn{
    width: 22px;
    height: 22px;
  }

  .c-input[disabled]{
    padding: 2px
  }

  .healthy-block{
    padding:15px;
  }

}

@media (max-width: 1199px) and (min-width: 768px) {
  .home-yes-no strong {
      font-size: 52px;
      color: #231f20;
      /* line-height: 72px; */
      position: relative;
      top: -15px;
      left: -15px;
  }
  .Healthy-Tasty-Fabb{
    padding:0px;
  }

  .btnAdd{
    font-size: 11px;
    padding:5px;
  }

  .c-input[disabled]{
    padding:5px;
  }

}
@media (max-width: 1100px) and (min-width: 768px) {
    
  .slider img{
    min-height: 325px;
    height: auto;
  }

  .slider .slide-content{
    padding: 60px 50px;
  }

  .slider-title {
    font-size: 40px !important;
  }

  .slider-desc {
    font-size: 18px!important;
  }

  .slider-desc .text-style-2 {
    font-size: 0.85em;
  }


  .round-btn{
    width: 22px;
    height: 22px;
  }

  .healthy-block h2{
    font-size: 28px;
  }
  .healthy-block .Curabitur-lobortis-i{
    font-size: 16px;
  }

}

/* Mobile CSS  */
@media (max-width: 480px) {
  .logo{
    margin-left: 13%;
  }

  .logo img {
    margin-left: 0px;
  }
  .ftr-btn{
    display: block !important;
  }

  .slider .slide-content{
    padding: 45px 50px;
  }

  .slider-title {
    font-size: 32px !important;
  }

  .slider-desc {
    font-size: 20px!important;
  }

  .slider-desc .text-style-2 {
    font-size: 0.75em;
  }
}
/* Mobile Css End  */



.owl-carousel .owl-nav{
  display: block !important;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.owl-prev{
  position: absolute;
  top: 50%;
  left: 0px;
}
.owl-next{
  position: absolute;
  top: 50%;
  right: 0px;
}


.media-items .media-item{
  background: #fff;
  height: 100px;
  color: #3498db;
  margin: 5px;
  line-height: 100px;
}

.txCntr img{
  display: inline;
}

.quotation-mark{
  width: 46.3px; height: 41.8px; margin-top: 63px; margin-bottom: 16px;
}

#wrapper {
  padding:0px;
}
#page-content-wrapper{
  padding:0px;
}


#wrapper {
    padding-right: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 325px;
}

#cart-wrapper {
    z-index: 9999;
    position: fixed;
    right: 325px;
    width: 0;
    height: 100%;
    margin-right: -325px;
    overflow-y: auto;
    background: #fefefe;
    border-left: #ddd thin solid;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

#wrapper.toggled #cart-wrapper {
    width: 325px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    overflow: hidden;
    /* padding: 15px; */
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -325px;
}

/* Sidebar Styles */
.over-lay{
  display: none;
}
.toggled .over-lay, .nav-toggled .over-lay{
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.5);
}

.cart-header {
  padding: 10px;
  position: relative;
  display: block;
  background: #f9f9f9;
}

.close-cart{
  float: left;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  padding: 3px 7px;
}

.close-menu{
  float: right;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 18px;
  padding: 3px 7px;
}

.margin-top-50{
  margin-top: 50px;
}

.cart-list, .menu-list {
  padding: 10px;
  position: relative;
  height: 75%;
  margin-bottom: 50px;
  overflow: scroll;
}

.cart-list .cart-item{
  position: relative;
  width: 100%;
}
.cart-list .cart-img{
  max-width: 80px;
  height: auto;
  /* float: left; */
}
.cart-item .item-name{
  font-size: 14px;
}
.cart-item .item-price{
  font-size : 12px;
  padding-top: 5px;
  color: #666;
}
.cart-list 

.cart-list .cart-detail{
  max-width: 200px;
  padding:0px 5px;
  height: auto;
  /* float: left; */
}

@media (min-width: 768px){
  #wrapper.nav-toggled {
    padding-left: 0px;
  }
  #mob-res-wrapper {
    display: none;
  }
}

@media (max-width: 767px){
  #wrapper.nav-toggled {
    padding-left: 325px;
  }

  #mob-res-wrapper {
    z-index: 1000;
    position: fixed;
    left: 325px;
    width: 0;
    height: 100%;
    margin-left: -325px;
    overflow-y: auto;
    background: #fefefe;
    border-left: #ddd thin solid;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }

  #wrapper.nav-toggled #mob-res-wrapper {
    width: 325px;
  }

  #page-content-wrapper {
    width: 100%;
    position: absolute;
    /* padding: 15px; */
  }

  #wrapper.nav-toggled #page-content-wrapper {
    position: absolute;
    margin-left: -325px;
  }
  .menu-list .navbar-nav{
    padding-top:0px !important;
    margin-top:0px;
  }
  .menu-list .navbar-nav li a{
    padding: 15px 20px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
  }
}


@media(min-width:768px) {
    #wrapper {
        padding-right: 0;
    }

    #wrapper.toggled {
        padding-right: 325px;
    }

    #cart-wrapper {
        width: 0;
    }

    #wrapper.toggled #cart-wrapper {
        width: 325px;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-left: 0;
    }

    #page-content-wrapper{
      padding:0px;
    }
}

.bottom-content-holder {
    position: absolute;
    width: 100%;
    bottom: 0;
}
.price-toggle-row {
  width: 100%;
  z-index: 5;
  overflow: hidden;
  background-color: #f5f3f0;
  -webkit-box-shadow: 0 0 0.25rem 0 rgba(0,0,0,.3);
  box-shadow: 0 0 0.25rem 0 rgba(0,0,0,.3);
  padding: .25rem .375rem;
}
.cart-button{
  margin: 10px 0px;
}

.dropdown-cart{
  display: none;
  max-height: 200px;
  overflow-y: scroll;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 1000;
  display: none;
  float: right;
  min-width: 300px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.mb-0{
  margin-bottom: 0px;
}

.cart-hover:hover .dropdown-cart{
  display: block;
}